.newsboxlay{
    border: none;
    border-radius: 20px;
    box-shadow: 3px 0px 7px rgba(0,0,0,0.5);
    overflow: hidden;
}

.newsdetails{
    padding: 20px;
}

.newscontent{
    display: flex;
}

.newsimg img{
    object-fit: cover;
    transform: scale(1);
    transition: 1s;
}

.newsimg img:hover {
    transform: scale(1);
    object-fit: contain;
    transition: 1s;
}