.tableGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 5px;
}

.innertable{
    display: flex;
}

.tableGrid button{
    border: none;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.parentTable{
    margin: 20px;
}

.indextable{
    padding: 40px;
    text-align: center;
}

.shadowEffect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
}

.header{
   display: flex;
   width: 100%;
    margin:20px;
   
    z-index: 3;
    
}

.loginuser{
    flex: 1;
    z-index: 2;
    text-align: center;
    margin: auto;
}

.title{
    flex: 10;
    font-size: x-large;
    z-index: 2;
    
  
}



.indices{
    display: block;

   
    padding: 80px;
}

.midstartpage{
  
    
}

.search .maintitle h1{
  z-index: 1;
  font-size: 4vmax;
  margin-top: 20px;
  color: black;
}

.search{
  display: grid ;
  grid-template-columns: auto;
  padding: 10px;
}

.subindices{
    margin-top: 20px;
    
    display: grid;
    grid-template-columns: auto;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.subindices2{
    margin-top: 20px;
    padding: 40px;
    display: grid;
    grid-template-columns: auto;
}

.indiceInfo{
    text-align: left;
    margin: auto;
}

.indiceInfo2{
    text-align: left;
    padding-right: 20px;
    margin: auto;
}

.subindiceInfo {

    display: grid;
    grid-template-columns: 0.1fr 0.1fr ;
    row-gap: 5px;
    column-gap: 10px;
    margin: auto;
    margin-top: 20px;
    
}

.subindices .subindicesChart{
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.subindices2 .subindicesChart{
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

/* .upperStartpg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.indicestitle{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.indicestitle h1{
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    font-size: xxx-large;
}

.boxindices{
  display: flex;
  width: auto;
  overflow-x: scroll;
  z-index: 10;
}

.boxindices::-webkit-scrollbar {
  display: none;
}

.innerboxindices{
  z-index: 10;
  flex: none;
  width:350px;
  height: 230px;
  border:none;
  border-radius: 10px;
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.subinnerboxindices{

  display: flex;
  justify-content: space-between;
  position: relative;
}

.innerboxchart{
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  
}

.timedetails{
    text-align: center;
  }

  .startpglay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .topSearchSec{
    
  }

  .startpgpic{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
  }

  .screnner{
    padding: 20px;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
  }

  .screnner .scrennerimg{
    border: none;
    border-radius: 20px;
    object-fit: cover;
  }

  .scrennerBoxes{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
  }

  .charts{
    padding: 20px;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  
 
  }

  .chartBoxes{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
  }

  .chartimg{
    border: none;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
    width: 550px;
    height: 390px;
  }

 

  .startpage .search{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75vh;

    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */

  }

  .subSearch{
    display: flex;
    padding: 10px;
    border-radius: 10px;
  }

  .startpgpic img{
    display: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }

  .buisnessNews{
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    row-gap: 40px;
  }

  .news{
    padding: 80px;
  }

  .scrolling-line-container {
    text-align: end;
    width: 100%;
    height: 30px;
    color: black;
    overflow: hidden;
    display:flex;
    margin-top:5px;
    margin-bottom: 5px;
    z-index: 5;
    opacity: 1; 
    animation: fadeInOut 70s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    white-space: nowrap;
  }
  
  .scrolling-line {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 70s linear infinite;
    animation-delay: -25s;
  }

  .scrolling-align{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .scrolling-line-container2 {
    text-align: end;
    width: 100%;
    height: 30px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-top: 115px;
    z-index: 5;
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeInOut 70s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
  }
  
  .scrolling-line2 {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText2 70s linear infinite;
    animation-delay: 1s;
  }

  .scrolling-align2{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .api-data-container {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
  }
 

  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scrollText2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
  }
  @media screen and (max-width:1400px) {
    .buisnessNews{
        padding: 60px;
        display: grid;
        grid-template-columns: auto auto   ;
        row-gap: 40px;
      }
  }

  @media screen and (max-width:1000px) {
    .buisnessNews{
        padding: 60px;
        display: grid;
        grid-template-columns: auto ;
        row-gap: 40px;
      }
  }

  @media screen and (max-width:420px) {

    .news{
        padding: 0px;
      }

    .buisnessNews{
        padding: 0px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: auto ;
        row-gap: 20px;
      }

      
    
      .startpgpic img{
        display: flex;
        width: 100%;
        height: 100vh;
        
        object-fit: cover;
        z-index: 1;
      }

     .indices{
      padding: 0px;
     }

      .search{
        display: absolute;
      }

      .charts{
        display: block;
      
      }

      .screnner{
        display: block;
      }

      .screnner .scrennerimg{
        width: 100%;
      }
    
  }

  